<table style="background: white">
  <thead>
    <tr>
      <th rowspan="2">Юзер</th>
      <th rowspan="2">Ребенок</th>
      <th rowspan="2">Взрослый</th>
      <th rowspan="2">Анкета</th>
      <th colspan="4">Опросник для мамы</th>
      <th colspan="20">Опросник для родителей</th>
      <th colspan="3">Моя территория</th>
    </tr>
    <tr>
      <th>СФТ</th>
      <th>СТ</th>
      <th>СМВ</th>
      <th>СП</th>

      <th>ГПЛ</th>
      <th>ГМИН</th>
      <th>УПЛ</th>
      <th>УМИН</th>
      <th>ТПЛ</th>
      <th>ТМИН</th>
      <th>ЗПЛ</th>
      <th>ЗМИН</th>
      <th>СПЛ</th>
      <th>СМИН</th>
      <th>Н</th>
      <th>РРС</th>
      <th>ПДК</th>
      <th>ВН</th>
      <th>ФУ</th>
      <th>НРС</th>
      <th>ПНК</th>
      <th>ВК</th>
      <th>ПЖК</th>
      <th>ПМК</th>

      <th>Вещей</th>
      <th>Моих</th>
      <th>Живых</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of items">
      <tr *ngIf="item.sppAdultTestListChild.length || item.anketaList.length || item.roomTestList.length || item.sppChildrenTestListChild.length">
        <td *ngIf="item.user.tmpUserId">{{item.user.tmpUserId}}</td>
        <td *ngIf="item.user.account"><a href="{{item.user.account.profileUrl}}" target="_blank">{{item.user.account.imageUrl}}</a></td>
        <td>{{item.name}}</td>
        <td>МАМА</td>
        <td>{{item.anketaList.length? item.anketaList[0].ball:''}}</td>
        <td>{{item.sppChildrenTestListChild.length? item.sppChildrenTestListChild[0].sft:''}}</td>
        <td>{{item.sppChildrenTestListChild.length? item.sppChildrenTestListChild[0].st:''}}</td>
        <td>{{item.sppChildrenTestListChild.length? item.sppChildrenTestListChild[0].smv:''}}</td>
        <td>{{item.sppChildrenTestListChild.length? item.sppChildrenTestListChild[0].sp:''}}</td>
        <td>{{item.mamaSppAdult? item.mamaSppAdult.gpl:''}}</td>
        <td>{{item.mamaSppAdult? item.mamaSppAdult.gmin:''}}</td>
        <td>{{item.mamaSppAdult? item.mamaSppAdult.ypl:''}}</td>
        <td>{{item.mamaSppAdult? item.mamaSppAdult.ymin:''}}</td>
        <td>{{item.mamaSppAdult? item.mamaSppAdult.tpl:''}}</td>
        <td>{{item.mamaSppAdult? item.mamaSppAdult.tmin:''}}</td>
        <td>{{item.mamaSppAdult? item.mamaSppAdult.zpl:''}}</td>
        <td>{{item.mamaSppAdult? item.mamaSppAdult.zmin:''}}</td>
        <td>{{item.mamaSppAdult? item.mamaSppAdult.cpl:''}}</td>
        <td>{{item.mamaSppAdult? item.mamaSppAdult.smin:''}}</td>
        <td>{{item.mamaSppAdult? item.mamaSppAdult.n:''}}</td>
        <td>{{item.mamaSppAdult? item.mamaSppAdult.rrc:''}}</td>
        <td>{{item.mamaSppAdult? item.mamaSppAdult.pdk:''}}</td>
        <td>{{item.mamaSppAdult? item.mamaSppAdult.vn:''}}</td>
        <td>{{item.mamaSppAdult? item.mamaSppAdult.fy:''}}</td>
        <td>{{item.mamaSppAdult? item.mamaSppAdult.nrc:''}}</td>
        <td>{{item.mamaSppAdult? item.mamaSppAdult.pnk:''}}</td>
        <td>{{item.mamaSppAdult? item.mamaSppAdult.vk:''}}</td>
        <td>{{item.mamaSppAdult? item.mamaSppAdult.pzk:''}}</td>
        <td>{{item.mamaSppAdult? item.mamaSppAdult.pmk:''}}</td>

        <td>{{item.roomTestList.length? item.roomTestList[0].itemsCount:''}}</td>
        <td>{{item.roomTestList.length? item.roomTestList[0].myCount:''}}</td>
        <td>{{item.roomTestList.length? item.roomTestList[0].aliveCount:''}}</td>


      </tr>
      <ng-container *ngIf="item.sppAdultTestListParent.length && item.familyPosition != 'MAMA'">
        <tr *ngFor="let t of item.sppAdultTestListParent">
          <td *ngIf="item.user.tmpUserId">{{item.user.tmpUserId}}</td>
          <td *ngIf="item.user.account"><a href="{{item.user.account.profileUrl}}" target="_blank">{{item.user.account.imageUrl}}</a></td>
          <td>{{t.child.name}}</td>
          <td>{{item.familyPosition}}, {{item.age}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>{{t.gpl}}</td>
          <td>{{t.gmin}}</td>
          <td>{{t.ypl}}</td>
          <td>{{t.ymin}}</td>
          <td>{{t.tpl}}</td>
          <td>{{t.tmin}}</td>
          <td>{{t.zpl}}</td>
          <td>{{t.zmin}}</td>
          <td>{{t.cpl}}</td>
          <td>{{t.smin}}</td>
          <td>{{t.n}}</td>
          <td>{{t.rrc}}</td>
          <td>{{t.pdk}}</td>
          <td>{{t.vn}}</td>
          <td>{{t.fy}}</td>
          <td>{{t.nrc}}</td>
          <td>{{t.pnk}}</td>
          <td>{{t.vk}}</td>
          <td>{{t.pzk}}</td>
          <td>{{t.pmk}}</td>
          <td>{{item.roomTestList.length? item.roomTestList[0].itemsCount:''}}</td>
          <td>{{item.roomTestList.length? item.roomTestList[0].myCount:''}}</td>
          <td>{{item.roomTestList.length? item.roomTestList[0].aliveCount:''}}</td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>
