<table style="background: white">
  <thead>
    <tr>
      <th rowspan="3">Юзер</th>
      <th rowspan="3">Ребенок</th>
      <th rowspan="2" colspan="8">Функциональность дом. среды</th>
      <th rowspan="2" colspan="7">Опросник для мамы</th>
      <th rowspan="2" colspan="21">Опросник для родителей</th>
      <th colspan="10">Моя территория</th>
    </tr>
    <tr>
      <th rowspan="2">всего</th>
      <th colspan="3">Площадь</th>
      <th colspan="3">Количество живых</th>
      <th colspan="3">Количество предметов</th>
    </tr>
    <tr>
      <th>СФТ</th>
      <th>СТ</th>
      <th>СМВ</th>
      <th>СП</th>
      <th>CC</th>
      <th>CTC</th>
      <th>Балл</th>
      <th>Дата</th>

      <th>СФТ</th>
      <th>СТ</th>
      <th>СМВ</th>
      <th>СП</th>
      <th>CC</th>
      <th>CTC</th>
      <th>Дата</th>


      <th>ГПЛ</th>
      <th>ГМИН</th>
      <th>УПЛ</th>
      <th>УМИН</th>
      <th>ТПЛ</th>
      <th>ТМИН</th>
      <th>ЗПЛ</th>
      <th>ЗМИН</th>
      <th>СПЛ</th>
      <th>СМИН</th>
      <th>Н</th>
      <th>РРС</th>
      <th>ПДК</th>
      <th>ВН</th>
      <th>ФУ</th>
      <th>НРС</th>
      <th>ПНК</th>
      <th>ВК</th>
      <th>ПЖК</th>
      <th>ПМК</th>
      <th>Дата</th>

      <th>Моих</th>
      <th>Общих</th>
      <th>Чл.с</th>
      <th>Моих</th>
      <th>Общих</th>
      <th>Чл.с</th>
      <th>Моих</th>
      <th>Общих</th>
      <th>Чл.с</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of items">
      <tr>
        <td><a (click)="showAnketaDialog(item.user)" style="cursor: pointer; color: blue">{{item.user.account?item.user.account.imageUrl:item.user.tmpUserId}}</a></td>
        <td>{{item.name}}</td>
        <td>{{item.anketaList.length? item.anketaList[0].sft:''}}</td>
        <td>{{item.anketaList.length? item.anketaList[0].st:''}}</td>
        <td>{{item.anketaList.length? item.anketaList[0].smv:''}}</td>
        <td>{{item.anketaList.length? item.anketaList[0].sp:''}}</td>
        <td>{{item.anketaList.length? item.anketaList[0].ss:''}}</td>
        <td>{{item.anketaList.length? item.anketaList[0].sts:''}}</td>
        <td>{{item.anketaList.length? item.anketaList[0].ball:''}}</td>
        <td>{{item.anketaList.length? d(item.anketaList[0].date):''}}</td>
        <td>{{item.sppChildrenTestList.length? item.sppChildrenTestList[0].sft:''}}</td>
        <td>{{item.sppChildrenTestList.length? item.sppChildrenTestList[0].st:''}}</td>
        <td>{{item.sppChildrenTestList.length? item.sppChildrenTestList[0].smv:''}}</td>
        <td>{{item.sppChildrenTestList.length? item.sppChildrenTestList[0].sp:''}}</td>
        <td>{{item.sppChildrenTestList.length? item.sppChildrenTestList[0].ss:''}}</td>
        <td>{{item.sppChildrenTestList.length? item.sppChildrenTestList[0].sts:''}}</td>
        <td>{{item.sppChildrenTestList.length? d(item.sppChildrenTestList[0].date):''}}</td>
        <td>{{item.sppAdultTestList.length? item.sppAdultTestList[0].gpl:''}}</td>
        <td>{{item.sppAdultTestList.length? item.sppAdultTestList[0].gmin:''}}</td>
        <td>{{item.sppAdultTestList.length? item.sppAdultTestList[0].ypl:''}}</td>
        <td>{{item.sppAdultTestList.length? item.sppAdultTestList[0].ymin:''}}</td>
        <td>{{item.sppAdultTestList.length? item.sppAdultTestList[0].tpl:''}}</td>
        <td>{{item.sppAdultTestList.length? item.sppAdultTestList[0].tmin:''}}</td>
        <td>{{item.sppAdultTestList.length? item.sppAdultTestList[0].zpl:''}}</td>
        <td>{{item.sppAdultTestList.length? item.sppAdultTestList[0].zmin:''}}</td>
        <td>{{item.sppAdultTestList.length? item.sppAdultTestList[0].cpl:''}}</td>
        <td>{{item.sppAdultTestList.length? item.sppAdultTestList[0].smin:''}}</td>
        <td>{{item.sppAdultTestList.length? item.sppAdultTestList[0].n:''}}</td>
        <td>{{item.sppAdultTestList.length? item.sppAdultTestList[0].rrc:''}}</td>
        <td>{{item.sppAdultTestList.length? item.sppAdultTestList[0].pdk:''}}</td>
        <td>{{item.sppAdultTestList.length? item.sppAdultTestList[0].vn:''}}</td>
        <td>{{item.sppAdultTestList.length? item.sppAdultTestList[0].fy:''}}</td>
        <td>{{item.sppAdultTestList.length? item.sppAdultTestList[0].nrc:''}}</td>
        <td>{{item.sppAdultTestList.length? item.sppAdultTestList[0].pnk:''}}</td>
        <td>{{item.sppAdultTestList.length? item.sppAdultTestList[0].vk:''}}</td>
        <td>{{item.sppAdultTestList.length? item.sppAdultTestList[0].pzk:''}}</td>
        <td>{{item.sppAdultTestList.length? item.sppAdultTestList[0].pmk:''}}</td>
        <td>{{item.sppAdultTestList.length? d(item.sppAdultTestList[0].date):''}}</td>


        <td><a *ngIf="item.roomTestList.length" style="cursor: pointer; color: blue"
               (click)="gotoRoomTest(item)">{{item.roomTestList[0].items.length}}</a></td>
        <td>{{item.roomTestList.length? item.roomTestList[0].mySquare:''}}</td>
        <td>{{item.roomTestList.length? item.roomTestList[0].collectiveSquare:''}}</td>
        <td>{{item.roomTestList.length? item.roomTestList[0].otherSquare:''}}</td>

        <td>{{item.roomTestList.length? item.roomTestList[0].myObjectCount:''}}</td>
        <td>{{item.roomTestList.length? item.roomTestList[0].collectiveObjectCount:''}}</td>
        <td>{{item.roomTestList.length? item.roomTestList[0].otherObjectCount:''}}</td>

        <td>{{item.roomTestList.length? item.roomTestList[0].myAliveCount:''}}</td>
        <td>{{item.roomTestList.length? item.roomTestList[0].collectiveAliveCount:''}}</td>
        <td>{{item.roomTestList.length? item.roomTestList[0].otherAliveCount:''}}</td>

      </tr>
    </ng-container>
  </tbody>
</table>
