<div style="background: whitesmoke; text-align: center; height: 100vh">
  <div style="align-items: center; margin-top: 10%; height: 500px; width: 1000px; background: white; display: inline-block">
    <table>
      <td style="max-width: 500px; min-width: 500px">
        <h1>ВОЙТИ ЧЕРЕЗ</h1>
        <a href="/auth/vkontakte" ><img src="../../img/VK_Blue_Logo.svg"></a>
      </td>
      <td style="max-width: 500px; min-width: 500px">
        <h1>ИЛИ БЕЗ РЕГИСТРАЦИИ</h1>
        <a (click)="gotoFirst()" >
          <img src="../../img/person.svg"  height="400" width="400" style="margin: 30px; cursor: pointer"></a>
      </td>
    </table>
  </div>
</div>
