<div style=" text-align: center; height: 100vh">
  <div style="align-items: center; margin-top: 10%; background: white; opacity: 80%; display: inline-block; border: 1px solid; border-radius: 10px">
    <table>
      <td style="max-width: 300px; min-width: 300px">
        <h1>ВОЙТИ ЧЕРЕЗ</h1>
        <div style="opacity: 99%; margin-top: 28px">
          <a href="/auth/vkontakte" ><img src="../../img/VK_Blue_Logo.svg"></a>
        </div>
      </td>
      <td style="max-width: 300px; min-width: 300px">
        <h1>ИЛИ БЕЗ РЕГИСТРАЦИИ</h1>
        <a (click)="gotoFirst()" >
          <img src="../../img/person.svg"  height="200" width="200" style="margin: 30px; cursor: pointer"></a>
      </td>
    </table>
  </div>
</div>
