<div style="text-align: center; align-content: center;align-items: center; align-self: center; width: 100%">
  <h4>Уважаемый родитель! Предлагаемый Вам опросник содержит утверждения о воспитании детей. Утверждения пронумерованы.
    Читайте по очереди утверждения опросника. Если Вы в общем согласны с ними, то отвечайте "+".
    Если Вы в общем не согласны, то выбирайте "-". Если очень трудно выбрать, то выбирайте "не знаю", старайтесь, чтобы таких ответов было не больше 5.
    В опроснике нет "правильных" или "неправильных" утверждений. Отвечайте так, как Вы сами думаете. Этим вы поможете провести достоверное исследование.
    </h4>
  <div style="display: inline-block;">
    <h2 *ngIf="loading">Загрузка</h2>
    <app-question-row  *ngFor="let q of testList;let i=index" [text]="q.text" [ansList]="q.ansList" [id]="'testRow'+i"
                       [(value)]="q.ans" [submitted]="submitted"></app-question-row>
    <button class="btn btn-outline-primary" style="margin: 40px" type="button" (click)="submit()" [disabled]="loading">Завершить</button>

  </div>
</div>
<div style="position: fixed; right: 0; bottom: 0;">
  <div class="card" style="width:13rem">
    <div class="card-body" style="text-align: center">
      <p class="card-text">тест проходит {{myName}}</p>
    </div>
  </div>
</div>

