<div style=" text-align: center; height: 100vh">
  <div  class="content-center" style="width: 100%; max-width: 500px">
    <div>
      <h1> {{mainService.user?mainService.user.firstName:'АНОНИМНЫЙ НЕКТО'}}</h1>
      <h3>Расскажите о себе:</h3>
      <div class="form-group row">
        <label for="room-count" class="col-sm-8 col-form-label"><h5>Количество комнат в доме:</h5></label>
        <div class="col-sm-4">
          <input style="max-width: 100px" id="room-count" (input)="onRoomInput($event)"
                 [value]="this.mainService.user.roomCount" class="form-control" type="number" [max]="150" [min]="1"/>
        </div>
      </div>
      <h2>ВАША СЕМЬЯ</h2>
      <h5>(все, кто проживают вместе)</h5>
    </div>
    <div>
        <h4>ДЕТИ  <button class="btn btn-success" id="button-addon2" (click)="addChildDialog()" >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
            <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
          </svg> Добавить
        </button></h4>
        <br>
        <div>
          <div class="input-group input-group-lg mb-3" style="width: 100%" *ngFor="let su of children">
            <input readonly [value]="su.name"  class="form-control"/>
            <input readonly [value]="su.age" style="max-width: 50px" class="form-control"/>
            <input *ngIf="su.sex=='BOY'" readonly [value]="'Мальчик'" class="form-control"/>
            <input *ngIf="su.sex=='GIRL'" readonly [value]="'Девочка'" class="form-control"/>
            <input readonly [value]="positionTitle(su.familyPosition)" class="form-control"/>

            <div class="input-group-append">
              <button class="btn btn-danger" (click)="onDeleteChild(su)" type="button" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                  <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    <div>
        <h4>ВЗРОСЛЫЕ: <button class="btn btn-success" id="button-addon3" (click)="addAdultDialog()" >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
            <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
          </svg> Добавить
        </button></h4>
      <br>
      <div>
        <div class="input-group input-group-lg" style="width: 100%" *ngFor="let su of adults">
          <input readonly [value]="positionTitle(su.familyPosition)" class="form-control"/>
          <input readonly [value]="su.age" class="form-control"/>
          <div class="input-group-append">
            <button class="btn btn-danger" (click)="onDeleteAdult(su)" type="button" >
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
      <br>
      <div *ngIf="error" class="alert alert-danger">{{error}}</div>
      <button class="btn btn-primary" (click)="onSubmit()">Готово</button>
      <button class="btn btn-primary" (click)="onReject()" *ngIf="mainService.user.familyMembers.length == 0">Пропустить</button>
  </div>
</div>
