<div style=" text-align: center; align-items: center">
  <div  class="content-horizontal-center" style="width: 100%; max-width: 40rem;">
    <div style="width:100%; max-width: 40rem; display: inline-block">
      <h5>Ответьте на вопросы</h5>
      <button class="btn btn-outline-primary" (click)="goBack()">назад</button>
    </div>
  <div style="display: inline-block;">
    <h2 *ngIf="loading">Загрузка</h2>
    <app-question-row  *ngFor="let q of testList;let i=index" [text]="q.text" [ansList]="q.ansList" (valueChange)="onChange()" [id]="'testRow'+i"
                       [(value)]="q.ans" [submitted]="submitted"></app-question-row>
    <button class="btn btn-outline-primary" style="margin: 40px" type="button" (click)="submit()" [disabled]="loading">Готово</button>

  </div>
  </div>
</div>


