<div style="text-align: center; align-content: center;align-items: center; align-self: center; width: 100%">
  <h1>Добро пожаловать на наше исследование!</h1>
  <h4>Спасибо, что согласились участвовать!</h4>
    <h4><button class="btn btn-outline-primary" type="button" (click)="gotoFirst()"
              *ngIf="!mainService.user.tempUser">Изменить анкету</button></h4>


  <div >
  <button *ngFor="let c of mainService.targetChildren" [ngClass]="{btn:true, 'btn-outline-primary':c !== mainService.currentChild , 'btn-primary':c === mainService.currentChild}" type="button" (click)="setChild(c)"
         style="margin: 4px" >{{c.name}} возраст: {{c.age}}</button>
  </div>
  <div style="display: inline-block;">

    <div class="card" style="width:40rem;">
      <!--img src="..." class="card-img-top" alt="..."-->
      <div class="card-body">
        <h5 class="card-title">Опросник для родителей</h5>
        <p class="card-text">Проходят родители на каждого ребёнка. Не делитесь ответами на вопросы, до того, как опросник пройдут все.
          Если у Вас в семье есть взрослый (например, бабушка), который активно участвует в воспитании, то желательно, чтобы он тоже прошёл этот опросник.
        </p> <p> Родители - обязательно, остальные - по желанию!
        </p>
        <p class="card-text">(выбран {{mainService.currentChild.name}}) </p>
        <button *ngFor="let c of adults" class="btn btn-outline-primary" (click)="gotoSppAdult(c)" style="margin: 4px">
          <app-check-icon *ngIf="mainService.currentChild.sppAdultList && mainService.currentChild.sppAdultList.includes(c.id)"></app-check-icon>
          Проходит {{positionTitle(c.familyPosition)}} ({{c.age}})</button>
      </div>
    </div>
    <div class="card" style="width:40rem;">
      <!--img src="..." class="card-img-top" alt="..."-->
      <div class="card-body">
        <h5 class="card-title">Опросник для мамы</h5>
        <p class="card-text"> или взрослого, который больше всего времени проводит с ребенком</p>
        <button class="btn btn-outline-primary" (click)="gotoSppChildren()">
          Пройти (выбран {{mainService.currentChild.name}})
          <app-check-icon style="color: green" *ngIf="mainService.currentChild.hasSppChildren"></app-check-icon>
        </button>
      </div>
    </div>
    <div class="card" style="width:40rem;">
      <!--img src="..." class="card-img-top" alt="..."-->
      <div class="card-body">
        <h5 class="card-title">Анкета для мамы</h5>
        <p class="card-text"> или взрослого, который больше всего времени проводит с ребенком</p>
        <button class="btn btn-outline-primary" (click)="gotoAnketa()">
          Пройти (выбран {{mainService.currentChild.name}})
          <app-check-icon style="color: green" *ngIf="mainService.currentChild.hasAnketa"></app-check-icon>
        </button>
      </div>
    </div>
    <div class="card" style="width:40rem;">
      <!--img src="..." class="card-img-top" alt="..."-->
      <div class="card-body">
        <h5 class="card-title">Моя территория</h5>
        <p class="card-text"> Проходит ребёнок. Необходимо чтобы взрослые не влияли на результат прохождения, но оказывали помощь в пользовании инструментами игры, особенно тем детям, которые плохо или не умеют читать или не очень хорошо умеют пользоваться компьютером.
          Большая просьба не отвлекать, не ругать, не делать замечания детям во время прохождения задания, это может повлиять на результаты. Ребёнок должен быть в хорошем настроении, не болеть, не быть уставшим.</p>
        <p class="card-text">Проходит {{mainService.currentChild.name}}, остальные - по желанию!
          </p>
        <button class="btn btn-outline-primary" (click)="gotoRoomTest()">
          Начать ({{mainService.currentChild.name}})
          <app-check-icon style="color: green" *ngIf="mainService.currentChild.hasRoom"></app-check-icon>
        </button><br>
        <button *ngFor="let c of adults" class="btn btn-outline-primary" (click)="gotoRoomTest(c)" style="margin: 4px">
          <app-check-icon *ngIf="c.hasRoom"></app-check-icon>
          Проходит {{positionTitle(c.familyPosition)}} ({{c.age}})</button>
      </div>
    </div>
  </div>
</div>


