<div style="text-align: center; align-content: center;align-items: center; align-self: center; width: 100%">
  <h1>Добро пожаловать!</h1>
  <h3>ИССЛЕДОВАНИЕ ДЕТЕЙ 1-4 КЛАССОВ</h3>
  <h4>следуйте шагам:</h4>

  <button class="btn btn-outline-primary" *ngIf="mainService.user.admin" (click)="gotoStat()">Статистика</button>
  <div>
    <div *ngFor="let child of mainService.targetChildren">
      <div style="display: inline-block;">
        <div class="card" style="width:20rem; margin-top: 20px">
          <div class="card-header">
            <h2>{{child.name + ', ' + child.age}}</h2>
          </div>
        </div>
      </div>
      <mat-tab-group mat-align-tabs="center">
        <mat-tab>
          <ng-template mat-tab-label>
            <div style="color: green; font-size: 16px">
              <app-check-icon></app-check-icon>
            </div>
            <h3>ШАГ 1</h3>
          </ng-template>
          <div style="display: inline-block;">
            <div class="card" style="width:40rem; margin: 4px">
              <div class="card-body">
                <h5 class="card-title">АНКЕТА</h5>
                <p class="card-text">УКАЖИТЕ ВСЕХ ЧЛЕНОВ СЕМЬИ</p>
                <h4><button class="btn btn-primary" type="button" (click)="gotoFirst()"
                            *ngIf="!mainService.user.tempUser">ИЗМЕНИТЬ АНКЕТУ</button></h4>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div *ngIf="child.sppAdultList && child.sppAdultList.length"
                 style="color: green; font-size: 16px">
              <app-check-icon></app-check-icon>
            </div>
            <h3  [ngStyle]="{color:child.sppAdultList && child.sppAdultList.length?null:'darkgrey'}">ШАГ 2</h3>
          </ng-template>
          <div style="display: inline-block;">
            <div class="card" style="width:40rem; margin: 4px">
              <div class="card-body">
                <h5 class="card-title">ТЕСТ 1</h5>
                <p class="card-text">УЗНАТЬ СТИЛЬ ВОСПИТАНИЯ</p>
                <button class="btn btn-primary" (click)="gotoSppAdult(child)">
                  {{child.sppAdultList && child.sppAdultList.length?'ИЗМЕНИТЬ':'ПРОЙТИ'}}</button>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div *ngIf="child.hasSppChildren" style="color: green; font-size: 16px">
              <app-check-icon></app-check-icon>
            </div>
            <h3 [ngStyle]="{color:child.hasSppChildren?null:'darkgrey'}">ШАГ 3</h3>
          </ng-template>
          <div style="display: inline-block;">
            <div class="card" style="width:40rem; margin: 4px">
              <div class="card-body">
                <h5 class="card-title">ТЕСТ 2</h5>
                <p class="card-text">УЗНАТЬ ГРАНИЦЫ РЕБЕНКА</p>
                <button class="btn btn-primary" (click)="gotoSppChildren(child)">
                  {{child.hasSppChildren?"ИЗМЕНИТЬ":"ПРОЙТИ"}}
                </button>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div *ngIf="child.hasAnketa" style="color: green; font-size: 16px">
              <app-check-icon></app-check-icon>
            </div>
            <h3 [ngStyle]="{color:child.hasAnketa?null:'darkgrey'}">ШАГ 4</h3>
          </ng-template>
          <div style="display: inline-block;">
            <div class="card" style="width:40rem; margin: 4px">
              <div class="card-body">
                <h5 class="card-title">ТЕСТ 3</h5>
                <p class="card-text">ДОМАШНЯЯ СРЕДА РЕБЕНКА</p>
                <button class="btn btn-primary" (click)="gotoAnketa(child)">
                  {{child.hasAnketa?"ИЗМЕНИТЬ":"ПРОЙТИ"}}
                </button>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div *ngIf="child.hasRoom" style="color: green; font-size: 16px">
              <app-check-icon></app-check-icon>
            </div>
            <h3 [ngStyle]="{color:child.hasRoom?null:'darkgrey'}">ШАГ 5</h3>
          </ng-template>
          <div style="display: inline-block;">
            <div class="card" style="width:40rem; margin: 4px" >
              <div class="card-body">
                <h5 class="card-title">ROOM-ТЕСТ</h5>
                <p class="card-text"> ПРОХОДИТ РЕБЕНОК </p>
                <button class="btn btn-primary" (click)="gotoRoomTest(child)">
                  {{child.hasRoom?"ИЗМЕНИТЬ":"ПРОЙТИ"}}
                </button><br>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div *ngIf="child.hasRoom && child.hasAnketa && child.hasSppChildren && child.hasSppChildren && child.sppAdultList && child.sppAdultList.length"
                 style="color: green">
              <app-check-icon></app-check-icon>
            </div>
            <h3 [ngStyle]="{color:child.hasRoom && child.hasAnketa && child.hasSppChildren && child.hasSppChildren && child.sppAdultList && child.sppAdultList.length?null:'darkgrey'}">
              Готово</h3>
          </ng-template>
          <div style="display: inline-block;">
            <div class="card" style="width:40rem; margin: 4px" >
              <div class="card-body">
                <h5 class="card-title">Завершение исследования</h5>
                <p class="card-text">
                  ЕСЛИ ВСЁ ПРОШЛИ, <a href="https://vk.com/id7485317" target="_blank">НАПИШИТЕ МНЕ</a>
                </p>
                <h3>СПАСИБО!</h3>
                <br>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
